#parent{
    width: 85%;
    height: 700px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}
#parent>div:nth-child(1){
    background-color: gray;
}
#parent>div:nth-child(2){
    background-color: yellow;
    grid-area: 1 / 2 / 2 / 4; 
}
#parent>div:nth-child(3){
    background-color: pink;
}
#parent>div:nth-child(4){
    background-color: green;
}
#parent>div:nth-child(5){
    background-color:cyan;
}
#parent>div:nth-child(6){
    background-color:chartreuse;
    grid-area: 2 / 3 / 4 / 5;
}
#parent>div:nth-child(7){
    background-color: olive;
    grid-area: 3 / 1 / 6 / 2;
}
#parent>div:nth-child(8){
    background-color: darkslategray;
}
#parent>div:nth-child(9){
    background-color: blue;
    grid-area: 4 / 2 / 7 / 3;
}
#parent>div:nth-child(10){
    background-color: gray;
}
#parent>div:nth-child(11){
    background-color: olivedrab;
}
#parent>div:nth-child(12){
    background-color: lightpink;
}
#parent>div:nth-child(13){
    background-color: silver;
}
#parent>div:nth-child(14){
    background-color: goldenrod;
    grid-area: 4 / 4 / 7 / 4;
}
.box{
    border: 2px solid black;
    }
